/* =========================================
   DASHBOARD
========================================= */

.dashboard {
    padding: 25px;
}


    /* =========================================
   DASHBOARD TITLE
========================================= */

    .dashboard h1 {
        margin: 0 0 18px 0;
        font-size: 22px;
        color: #222222;
    }


/* =========================================
   WELCOME BOX
========================================= */

.welcome-box {
    width: 100%;
    min-height: 130px;
    background-color: #fff0f5;
    border-radius: 6px;
    padding: 25px;
}


    /* =========================================
   WELCOME TITLE
========================================= */

    .welcome-box h2 {
        margin: 0 0 10px 0;
        font-size: 18px;
        color: #111111;
    }


    /* =========================================
   WELCOME TEXT
========================================= */

    .welcome-box p {
        margin: 0 0 15px 0;
        font-size: 13px;
        color: #333333;
    }


    /* =========================================
   BUTTON
========================================= */

    .welcome-box button {
        border: none;
        background-color: #f52d78;
        color: white;
        padding: 7px 18px;
        border-radius: 5px;
        font-size: 11px;
        cursor: pointer;
    }


        /* =========================================
   BUTTON HOVER
========================================= */

        .welcome-box button:hover {
            background-color: #d91f66;
        }
